a {
text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}

body {
    background-color: lightpink;
}

table {
width: 100%;
font-size: 12px; 
border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-style: italic;
   
} 

th {
   background-color: lightgray;
}

/* italicize bandmember/producer list*/
li {
    font-style: italic;
}

caption {
    font-size: 14px;
}

span.itemfont {
    font-family: Comic Sans MS;
}
