
a:link{ 
    color:  blue;
}

a:visited {
color: greenyellow;
}

a:hover {
    font-weight: bold;   
}

a:active {
    text-decoration: none;
    color: orange;
}

h2 {
    text-align: center;
    color: red;
    font-family: Comic Sans MS;
    height: 30px;

}


}
/*ul and li settings for horizontal navigation*/
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li {
            padding: 16px;
        } 

footer {
   bottom: 0;
   width: 100%;
   text-align:center;
   position: absolute;
}


